.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  padding: 20px;
  height: 70px;
  justify-content: space-between;
  z-index: 1;
}

.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav_black {
  background-color: #111;
}
